app-products {
    width: 100%;
    height: 100%;
}

.stars-5 {
    svg {
        path:nth-child(-n + 5) {
            fill: rgb(222, 238, 0);
        }
    }
}

.stars-4 {
    svg {
        path:nth-child(-n + 4) {
            fill: rgb(222, 238, 0);
        }
    }
}

.stars-3 {
    svg {
        path:nth-child(-n + 3) {
            fill: rgb(222, 238, 0);
        }
    }
}

.stars-2 {
    svg {
        path:nth-child(-n + 2) {
            fill: rgb(222, 238, 0);
        }
    }
}

.stars-1 {
    svg {
        path:nth-child(-n + 1) {
            fill: rgb(222, 238, 0);
        }
    }
}
